<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >

      <section name="Sahaj.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />

    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionStringSQL_Dev" connectionString="Server=localhost\SQLExpress; Database=d1_dev; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- dataConfiguration defaultDatabase="m1cfg.Connect_String"/-->

  <appSettings>
    <add key="ConnectionStringKey" value="ConnectionStringSQL_Dev"/>


    <!-- Queries-->
    <add key="Query_ValidateUserLogin" value="select [user_id],[user_name],user_first_name,user_last_name,role_id,last_accessed,last_pwd_change,profilepic from d1_cdt_users where [user_id] = @user_id or [user_name] = @user_id;"/>
    <add key="Query_GetAppInfo" value="SELECT app_name,version FROM d1_app_info;"/>
    <add key="Query_InsertEmpDetails" value=
"INSERT INTO d1_cdt_employees(d1_cdt_employees,emp_id,firstname,lastname,petname,dob,gender,emptype,designation,empaddress,pincode,homephone,mobile,education,aadhaarno,addressproof,dl_no,dl_htmv,dl_hmv,dl_lmv,dl_rto,hiring_manager_id,experience,attributes,otherdetails,emp_status) VALUES (,@emp_id,@firstname,@lastname,@petname,@dob,@gender,@emptype,@designation,@empaddress,@pincode,@homephone,@mobile,@education,@aadhaarno,@addressproof,@dl_no,@dl_htmv,@dl_hmv,@dl_lmv,@dl_rto,@hiring_manager_id,@experience,@attributes,@otherdetails,@emp_status)
" />
    
    <!--add key="Application.DatabaseConnectionName" value="m1cfg.Connect_String"/-->
  </appSettings>
</configuration>