<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnectionStringSQL_Dev" connectionString="Server=localhost\SQLExpress; Database=d1_dev; Integrated Security=SSPI;"
      providerName="System.Data.SqlClient" />
    <add name="Sahaj.Properties.Settings.d1_devConnectionString"
      connectionString="Data Source=DESKTOP-HKS5HV8\SQLEXPRESS;Initial Catalog=d1_dev;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- dataConfiguration defaultDatabase="m1cfg.Connect_String"/-->

  <appSettings>
    <add key="ConnectionStringKey" value="ConnectionStringSQL_Dev"/>
    <add key="BackupPath" value="\sahaj\bkup\{0}_{1}.xml"/>
    <add key="AppConstants_BackupTablesList" value="d1_cdt_employees,d1_cdt_empdocs"/>
    <add key="EnableErrorDatabaseLogging" value="true"/>
    <add key="EnableErrorEventLogging" value="false"/>

    <!-- Queries-->
    <add key="Query_ValidateUserLogin" value="select [user_id],[user_name],user_first_name,user_last_name,role_id,last_accessed,last_pwd_change,profilepic from d1_cdt_users where [user_id] = @user_id or [user_name] = @user_id;"/>
    <add key="Query_GetAppInfo" value="SELECT app_name,version FROM d1_app_info;"/>
    <add key="Query_InsertEmpDetails" value="INSERT INTO d1_cdt_employees(emp_id,firstname,lastname,petname,dob,gender,emptype,designation,empaddress,pincode,homephone,mobile,emailid,education,aadhaarno,addressproof,dl_no,dl_htmv,dl_hmv,dl_lmv,dl_rto,dl_expdt,hiring_manager_id,hiring_date,experience,attributes,otherdetails,emp_status,allow_login,create_id,create_date,update_id,update_date) VALUES (@emp_id,@firstname,@lastname,@petname,@dob,@gender,@emptype,@designation,@empaddress,@pincode,@homephone,@mobile,@emailid,@education,@aadhaarno,@addressproof,@dl_no,@dl_htmv,@dl_hmv,@dl_lmv,@dl_rto,@dl_expdt,@hiring_manager_id,@hiring_date,@experience,@attributes,@otherdetails,@emp_status,@allow_login,@create_id,@create_date,@update_id,@update_date)"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            />
    <add key="Query_InsertEmpDocs" value="INSERT INTO d1_cdt_empdocs(emp_id,doctype,doctype_id,doc_name,doc_extn,doc_img,active_ind,create_id,create_date,update_id,update_date) VALUES (@emp_id,@doc_type,@doctype_id,@doc_name,@doc_extn,@doc_img,@active_ind,@create_id,@create_date,@update_id,@update_date)"
                                                                                                                                                                                                                                                                              />
    <add key="Query_GetNextID" value="select (substring(ISNULL(MAX({1}),0),{3}+1,{4}-{3}) +1) FROM {0} WHERE SUBSTRING({1},1, {3}) = '{2}'"/>
    <add key="Query_SearchEntity" value="d1_csp_searchentity"  />
    <add key="Query_RetrieveEmpDetails" value="SELECT firstname,lastname,petname,dob,gender,emptype,designation,empaddress,pincode,homephone,mobile,emailid,education,aadhaarno,addressproof,dl_no,dl_htmv,dl_hmv,dl_lmv,dl_rto,dl_expdt,hiring_manager_id,hiring_date,experience,attributes,otherdetails,emp_status,allow_login  FROM d1_cdt_employees WHERE emp_id=@emp_id" />    
    <add key="Query_RetrieveEmpDocs" value="select doctype,doc_name,doc_extn,doc_img from d1_cdt_empdocs where emp_id = @empid and active_ind = 'A'" />    
    <add key="Query_UpdateEmpDetails" value="UPDATE d1_cdt_employees SET firstname = @firstname,lastname= @lastname,petname= @petname,dob= @dob,gender= @gender,emptype= @emptype,designation= @designation,empaddress= @empaddress,pincode= @pincode,homephone= @homephone,mobile= @mobile,emailid= @emailid,education= @education,aadhaarno= @aadhaarno,addressproof= @addressproof,dl_no= @dl_no,dl_htmv= @dl_htmv,dl_hmv= @dl_hmv,dl_lmv= @dl_lmv,dl_rto= @dl_rto,dl_expdt= @dl_expdt,hiring_manager_id= @hiring_manager_id,hiring_date= @hiring_date,experience= @experience,attributes= @attributes,otherdetails= @otherdetails,emp_status= @emp_status,allow_login= @allow_login,update_id= @update_id,update_date= @update_date WHERE emp_id =@emp_id"  />
    <add key="Query_TerminateEmp" value="UPDATE d1_cdt_employees SET emp_status= @emp_status,allow_login= @allow_login,update_id= @update_id,update_date= @update_date WHERE emp_id =@emp_id"  />
    <add key="Query_TerminateEmpDocs" value="UPDATE d1_cdt_empdocs SET active_ind= @active_ind,update_id= @update_id,update_date= @update_date WHERE emp_id =@emp_id and doctype = @doc_type"  />
    <add key="Query_UpdateEmpDocs" value="UPDATE d1_cdt_empdocs SET doc_name= @doc_name,doc_extn= @doc_extn,doc_img= @doc_img,active_ind= @active_ind,update_id= @update_id,update_date= @update_date WHERE emp_id =@emp_id AND doctype = @doc_type"  />
    <add key="Query_DeleteUserNotes" value="DELETE FROM d1_cdt_usernotes WHERE [user_id] = @user_id AND note_date = @note_date"  />
    <add key="Query_InsertUserNotes" value="INSERT INTO d1_cdt_usernotes ([user_id],note_date,note_text,create_id,create_date,update_id,update_date) VALUES (@user_id,@note_date,@note_text,@create_id,@create_date,@update_id,@update_date)"  />
    <add key="Query_RetrieveUserNotes" value="SELECT note_text FROM d1_cdt_usernotes WHERE [user_id] = @user_id and note_date =@note_date"  />
    <add key="Query_RetrieveUserNoteAlldate" value="SELECT DISTINCT note_date FROM d1_cdt_usernotes WHERE [user_id] = @user_id"  />
    <add key="Query_InsertErrorLogs" value="INSERT INTO d1_cdt_errorlog(error_cd,error_type,error_date,error_message,error_detail,request_xml,response_xml,stacktrace,error_log,error_source,error_loggedby,Resv1,Resv2,create_id,create_date) VALUES(@error_cd,@error_type,@error_date,@error_message,@error_detail,@request_xml,@response_xml,@stacktrace,@error_log,@error_source,@error_loggedby,@Resv1,@Resv2,@create_id,@create_date)"  />
    <add key="Query_RetrieveErrorLogs" value="SELECT * FROM d1_cdt_errorlog WHERE error_date &gt; @refDate OR create_date &gt; @refDate ORDER BY error_date DESC"/>

    <!--add key="Application.DatabaseConnectionName" value="m1cfg.Connect_String"/-->
  </appSettings>
</configuration>